@import url('https://fonts.googleapis.com/css2?family= Noto +Sans:wght@400;800 & display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.cadastro {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.left-cadastro > h1 {
    font-size: 3vw;
    color: #77ffc0;
}

.left-cadastro-image{
    width: 38vw;
}

.right-cadastro {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items:center;
}

.card-register{
    width: 150%;
    display: flex;  
    margin: 20px 30px;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 30px;
    border: 1px solid;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #66161656;
}


.card-register > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 15px;
}

.card-register {
    width: 100%;
}

a {
    color: #77ffc0;
    width: 100%;
}

.textfield {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1px;
}

.textfield > input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    gap: 15px;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 8px;
    font-weight: bold;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.text {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px;
}

.text > label {
    color: #f0ffffde;
    margin-bottom: 8px;
    font-weight: bold;
}

.text > input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    gap: 15px;
}


.text > input::placeholder {
    color: #f0ffff94;
}

.tele {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1px;
}

.tele > input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    gap: 15px;
}

.tele > label {
    color: #f0ffffde;
    margin-bottom: 5px;
    font-weight: bold;
}

.tele > input::placeholder {
    color: #f0ffff94;
}

.senha-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1px;
    position: relative;
}

.senha-container > input{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    gap: 15px;
}

.senha-container > label{
    color: #f0ffffde;
    margin-bottom: 5px;
    font-weight: bold;
}

.senha-container > input::placeholder {
    color: #f0ffff94;
}

.senha-container .olho {
    position: absolute;
    right: 10px;
    top: 48%;
    transform: translateY(-50%);
    cursor: pointer;
}

.erro {
    color: red;
    font-size: 14px;
    display: none;
}



#btn-cadastro {
    width: 100%;
    padding: 16px 0px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width:950px) {
    .card-register {
        width: 80%;
    }
}